<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Mouvements du stock</h1>
    </div>
    <div class="col-md-4 p-0 text-right">
      <input type="text" class="form-control" placeholder="Rechercher un article" [(ngModel)]="searchArticle" name="searchArticle">
    </div>
  </div>

  <div class="alert alert-danger m-3" *ngIf="errorMsg">{{ errorMsg }}</div>
  <div class="alert alert-success m-3" *ngIf="successMsg">{{ successMsg }}</div>

  <div class="col m-3">
    <div class="accordion" id="mvtStkDetails" *ngFor="let article of searchFilter()">
      <div class="card">
        <div class="card-body">
          <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                  [attr.data-target]="'#collapseMvt' + article.id"
                  aria-expanded="true">
            <div class="row mb-1 mr-0">
              <div class="col-md-1 custom-border-right p-1 text-center mb-1 mt-1">
                <img [src]="article.photo ? article.photo : 'assets/product.png'" width="60px" height="60px">
              </div>
              <div class="col-md-5 custom-border-right mb-1 mt-1">
                <div class="row">
                  <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                  <div class="col-md-11">{{ article.codeArticle }}</div>
                </div>
                <div class="row">
                  <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                  <div class="col-md-11">{{ article.designation }}</div>
                </div>
              </div>
              <div class="col-md-3 custom-border-right mb-1 mt-1">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h5>Stock reel : {{ mapStockReel.get(article.id) }}</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-1 mt-1">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h5>{{ mapMvtstk.get(article.id)?.length || 0 }} mouvements</h5>
                  </div>
                </div>
              </div>
            </div>
          </button>
        </div>
        <div [id]="'collapseMvt' + article.id" class="collapse" style="max-height: 300px; overflow-y: scroll">
          <div class="card-body">
            <div class="row mb-1 custom-border font-weight-bold" *ngIf="mapMvtstk.get(article.id)?.length">
              <div class="col-md-3 text-center">Date</div>
              <div class="col-md-3 text-center">Quantite</div>
              <div class="col-md-3 text-center">Type</div>
              <div class="col-md-3 text-center">Source</div>
            </div>
            <div class="row mb-1 mr-0 custom-border" *ngFor="let mvt of mapMvtstk.get(article.id)">
              <div class="col-md-3 custom-border-right mb-1 mt-1 text-center">
                {{ mvt.dateMvt | date:'dd/MM/yyyy HH:mm' }}
              </div>
              <div class="col-md-3 custom-border-right mb-1 mt-1 text-center">
                {{ mvt.quantite }}
              </div>
              <div class="col-md-3 custom-border-right mb-1 mt-1 text-center">
                {{ mvt.typeMvt }}
              </div>
              <div class="col-md-3 mb-1 mt-1 text-center">
                {{ mvt.sourceMvt || 'MANUEL' }}
              </div>
            </div>
            <div class="text-center text-muted p-2" *ngIf="!mapMvtstk.get(article.id)?.length">
              Aucun mouvement pour cet article
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Formulaire de mouvement de stock -->
  <div class="row m-3 p-3 custom-border">
    <div class="col-md-12">
      <h3>Nouveau mouvement de stock</h3>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Article selectionne</label>
        <select class="form-control" name="articleMvt" [(ngModel)]="selectedArticle">
          <option [ngValue]="{}">Selectionner un article</option>
          <option *ngFor="let article of listArticle" [ngValue]="article">
            {{ article.codeArticle }} - {{ article.designation }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Quantite" [(ngModel)]="quantite" name="quantiteMvt" min="1">
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-around flex-wrap">
      <button type="button" class="btn btn-success m-1" (click)="effectuerMouvement('ENTREE')">
        <i class="fas fa-arrow-down"></i>&nbsp;Entree
      </button>
      <button type="button" class="btn btn-warning m-1" (click)="effectuerMouvement('SORTIE')">
        <i class="fas fa-arrow-up"></i>&nbsp;Sortie
      </button>
      <button type="button" class="btn btn-info m-1" (click)="effectuerMouvement('CORRECTION_POS')">
        <i class="fas fa-plus"></i>&nbsp;Correction +
      </button>
      <button type="button" class="btn btn-secondary m-1" (click)="effectuerMouvement('CORRECTION_NEG')">
        <i class="fas fa-minus"></i>&nbsp;Correction -
      </button>
    </div>
  </div>
</div>
