<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des ventes</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-boutton-action
        [isExporterVisible]="false"
        [isImporterVisible]="false"
        (clickEvent)="nouvelleVente()"
      ></app-boutton-action>
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>
  </div>
  <div class="col m-3">
    <div class="row custom-border font-weight-bold mb-1" *ngIf="listVentes.length">
      <div class="col-md-3 text-center">Code vente</div>
      <div class="col-md-3 text-center">Date</div>
      <div class="col-md-4 text-center">Commentaire</div>
      <div class="col-md-2 text-center">Total lignes</div>
    </div>
    <div class="row custom-border mb-1 mr-0" *ngFor="let vente of listVentes">
      <div class="col-md-3 custom-border-right mb-1 mt-1 text-center">{{ vente.code }}</div>
      <div class="col-md-3 custom-border-right mb-1 mt-1 text-center">{{ vente.dateVente | date:'dd/MM/yyyy HH:mm' }}</div>
      <div class="col-md-4 custom-border-right mb-1 mt-1 text-center">{{ vente.commentaire }}</div>
      <div class="col-md-2 mb-1 mt-1 text-center">-</div>
    </div>
    <div class="text-center text-muted p-3" *ngIf="!listVentes.length">
      Aucune vente enregistree
    </div>
  </div>
  <div class="row mb-3" *ngIf="listVentes.length">
    <div class=" col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
