<div class="menu">
  <div class="card" *ngFor="let menu of menuProperties">
    <button type="button" class="card-cmd-header menu-title"
            (click)="basculerMenu(menu.id!)"
            [attr.aria-expanded]="menusOuverts.has(menu.id!)">
      <span class="menu-icon">{{ (menu.titre || '').substring(0, 1) }}</span>
      {{ menu.titre }}
    </button>

    <div *ngIf="menusOuverts.has(menu.id!)" class="menu-items">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let sousMenu of menu.sousMenu"
            [ngClass]="{'list-item-active': sousMenu.active}">
          <a href="javascript:void(0);" (click)="navigate(sousMenu)" class="menu-link">
            <span class="menu-icon menu-icon-sm">{{ (sousMenu.titre || '').substring(0, 1) }}</span>
            {{ sousMenu.titre }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
