<div class="page">
  <div class="page-header">
    <h2>Information de l'utilisateur</h2>
  </div>

  <div class="card custom-border p-3">
    <form>
      <div class="form-grid-2">
        <input type="text" class="form-control" placeholder="Nom">
        <input type="text" class="form-control" placeholder="Adresse 1">
        <input type="text" class="form-control" placeholder="Prenom">
        <input type="text" class="form-control" placeholder="Adresse 2">
        <input type="email" class="form-control" placeholder="E-mail">
        <input type="text" class="form-control" placeholder="Ville">
        <input type="tel" class="form-control" placeholder="Telephone">
        <input type="text" class="form-control" placeholder="Code postal">
        <span></span>
        <input type="text" class="form-control" placeholder="Pays">
      </div>
    </form>
  </div>

  <div class="form-actions mt-2">
    <button class="btn btn-secondary" (click)="cancel()">Annuler</button>
    <button class="btn btn-primary">Enregistrer</button>
  </div>
</div>
