<div class="col mb-3">
  <div class="col-md-12">
    <div class="col-md-12 mb-3 mt-3">
      <h2>Nouvelle vente</h2>
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg.length">
      <div *ngFor="let msg of errorMsg">
        <span> {{ msg }}</span>
      </div>
    </div>
    <div class="row p-3 custom-border">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="codeVente" placeholder="Code vente" [(ngModel)]="codeVente">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="commentaireVente" placeholder="Commentaire" [(ngModel)]="commentaire">
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-2 p-3 custom-border">
        <div class="form-row col-md-12">
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Code article" [(ngModel)]="codeArticle" name="codeArticleVente" (input)="filtrerArticle()">
            <div *ngIf="codeArticle.length && !articleNotYetSelected" class="autocomplete shadow p-3 mb-5 bg-white rounded">
              <p class="p-1" *ngFor="let article of listArticle"
                 (click)="selectArticleClick(article)"
              >
                {{ article.codeArticle }}&nbsp; {{ article.designation }}
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Quantite" [(ngModel)]="quantite" name="quantiteVente">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Prix unitaire" [(ngModel)]="searchedArticle.prixUnitaireTtc" name="prixVente">
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-success" (click)="ajouterLigneVente()"><i class="fas fa-plus"></i></button>
          </div>
        </div>
    </div>
    <div class="row mt-2 p-3 custom-border" style="max-height: 300px;overflow-y: scroll">
      <div class="col-md-12">
        <div class="row mb-1 custom-border font-weight-bold" *ngIf="lignesVente.length">
          <div class="col-md-3 text-center">Code article</div>
          <div class="col-md-3 text-center">Designation</div>
          <div class="col-md-2 text-center">Quantite</div>
          <div class="col-md-2 text-center">Prix unitaire</div>
          <div class="col-md-2 text-center">Total</div>
        </div>
        <div class="row mb-1 mr-0 custom-border" *ngFor="let ligne of lignesVente">
          <div class="col-md-3 custom-border-right mb-1 mt-1 text-center">{{ ligne.article?.codeArticle }}</div>
          <div class="col-md-3 custom-border-right mb-1 mt-1 text-center">{{ ligne.article?.designation }}</div>
          <div class="col-md-2 custom-border-right mb-1 mt-1 text-center">{{ ligne.quantite }}</div>
          <div class="col-md-2 custom-border-right mb-1 mt-1 text-center">{{ ligne.prixUnitaire }}</div>
          <div class="col-md-2 mb-1 mt-1 text-center">
            {{ ligne.prixUnitaire && ligne.quantite ? +ligne.prixUnitaire * +ligne.quantite : '' }}
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 p-3 custom-border">
      <div class="col-md-12 text-right">
        <h3>Total de la vente: {{ totalVente }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-12 text-right mt-2">
    <button class="btn btn-danger mr-3" [routerLink]="['/ventes']">
      <i class="fas fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary" (click)="enregistrerVente()">
      <i class="fas fa-save"></i>&nbsp;
      Enregistrer
    </button>
  </div>
</div>
