<div class="cmd-ligne">
  <span class="cmd-ligne-cell">{{ ligneCommande.article?.codeArticle }}</span>
  <span class="cmd-ligne-cell">{{ ligneCommande.article?.designation }}</span>
  <span class="cmd-ligne-cell tnum">{{ ligneCommande.quantite }}</span>
  <span class="cmd-ligne-cell tnum">{{ ligneCommande.prixUnitaire }} €</span>
  <span class="cmd-ligne-cell tnum">
    {{ ligneCommande.prixUnitaire && ligneCommande.quantite ? +ligneCommande.prixUnitaire * +ligneCommande.quantite : '' }} €
  </span>
  <span class="cmd-ligne-cell cmd-ligne-actions">
    <ng-container *ngIf="!confirmationVisible; else confirmBloc">
      <button type="button" class="btn-link btn-link-danger" (click)="demanderConfirmation()"
              aria-label="Supprimer la ligne">
        Supprimer
      </button>
    </ng-container>
    <ng-template #confirmBloc>
      <span class="cmd-ligne-confirm">
        Supprimer ?
        <button type="button" class="btn-link" (click)="annulerConfirmation()">Non</button>
        <button type="button" class="btn-link btn-link-danger" (click)="supprimerLigne()">Oui</button>
      </span>
    </ng-template>
  </span>
</div>
